In [1]:
# import pandas as pd
# import numpy as np

# # Define the columns for the dataframe
# columns = ['student_id', 'CGPA', 'GRE', 'IELTS','TOEFL', 'research_experience', 'course', 'LOR', 'chances', 'university']

# # Create an empty dataframe with the specified columns
# df = pd.DataFrame(columns=columns)

# # Generate 1000 rows of mock data
# for i in range(100):
#     student_id = i
#     CGPA = np.random.uniform(low=0.0, high=10.0)
#     GRE = np.random.randint(low=0, high=340)
#     IELTS = np.random.randint(low=0, high=9)
#     research_experience = np.random.choice(['yes', 'no'])
#     course = np.random.choice(['MSc in Computer Science'])
#     LOR = np.random.randint(low=0, high=5)
#     university = np.random.choice(['Parul University', 'Amity', 'ILS Bangalore', 'BITS', 'Griffith', 'Queens Mary', 'Stanford', 'University of Ottawa', 'UIUC'])
#     chances = np.random.uniform(low=0.0, high=1.0,)
    
#     # Add the generated values to the dataframe
#     df = df.append({'student_id': student_id, 'CGPA': CGPA, 'GRE': GRE, 'IELTS': IELTS,'TOEFL':TOEFL, 'research_experience': research_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)

# # Export the dataframe to a CSV file
# df.to_csv('uni_rec.csv', index=False)

In [28]:
import pandas as pd
import numpy as np

# Define the columns for the dataframe
columns = ['student_id', 'CGPA', 'IELTS', 'LOR', 'research_experience', 'work_experience', 'course', 'chances', 'university']

# Create an empty dataframe with the specified columns
df = pd.DataFrame(columns=columns)

# Generate 100 rows of mock data
for i in range(100):
    student_id = i
    CGPA = np.random.uniform(low=0.0, high=10.0)
    IELTS = np.random.randint(low=0, high=9)
#     GRE = np.random.randint(low=200, high=990)
    research_experience = np.random.choice([1, 0])
    work_experience = np.random.choice([1, 0])
    course = np.random.choice([1])
    LOR = np.random.randint(low=0, high=5)
    university = np.random.choice(['QMU'])
    chances = np.random.uniform(low=0.0, high=1.0,)
    
    # Add the generated values to the dataframe
    df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)

# Export the dataframe to a CSV file
df.to_csv('QMU.csv', index=False)

C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)

C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)

C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)

C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)
C:\Users\Nency\AppData\Local\Temp\ipykernel_11500\1370890133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'student_id': student_id, 'CGPA': CGPA, 'IELTS': IELTS, 'research_experience': research_experience, 'work_experience': work_experience, 'course': course, 'LOR': LOR,'university': university, 'chances': chances}, ignore_index=True)

In [2]:
import pandas as pd
df1 = pd.read_csv("AU.csv")
df1.head()

,student_id,CGPA,IELTS,GATE,LOR,research_experience,work_experience,course,chances,university
0,0,1.79,8,561,3,0,0,1,8,AU
1,1,5.48,7,145,0,1,1,1,16,AU
2,2,2.54,0,751,0,1,0,1,12,AU
3,3,2.75,2,599,2,0,1,1,14,AU
4,4,1.86,5,876,3,0,0,1,9,AU

In [4]:
df2 = pd.read_csv("BITS.csv")
df2.head()

,student_id,CGPA,GATE,LOR,research_experience,work_experience,course,chances,university
0,0,5.28,457,0,1,0,1,32.0,BITS
1,1,0.43,34,1,1,1,1,15.0,BITS
2,2,0.03,104,0,1,0,1,0.7,BITS
3,3,0.08,157,4,0,1,1,0.5,BITS
4,4,4.19,823,2,0,1,1,42.0,BITS

In [5]:
df3 = pd.read_csv("GU.csv")
df3.head()

,student_id,CGPA,IELTS,LOR,research_experience,work_experience,course,chances,university
0,0,1.67,0,1,0,1,1,0.0,GU
1,1,5.95,2,1,1,1,1,12.0,GU
2,2,6.19,4,3,0,1,1,13.0,GU
3,3,1.42,8,0,1,1,1,0.0,GU
4,4,0.15,6,4,0,1,1,0.0,GU

In [6]:
df4 = pd.read_csv("IIS.csv")
df4.head()

,student_id,CGPA,IELTS,GATE,LOR,research_experience,work_experience,course,chances,university
0,0,7.84,2,211,1,0,1,1,24,IIS
1,1,4.32,8,845,4,1,1,1,23,IIS
2,2,0.31,2,943,1,0,1,1,0,IIS
3,3,3.37,4,301,4,1,1,1,31,IIS
4,4,8.13,5,42,2,1,1,1,28,IIS

In [7]:
df5 = pd.read_csv("PU.csv")
df5.head()

,student_id,CGPA,GATE,LOR,research_experience,work_experience,course,chances,university
0,0,4.00,100,0,1,0,1,52,PU
1,1,5.38,170,1,0,0,1,62,PU
2,2,5.75,237,2,0,0,1,65,PU
3,3,1.06,308,1,1,1,1,23,PU
4,4,6.21,679,4,0,0,1,94,PU

In [8]:
df6 = pd.read_csv("QMU.csv")
df6.head()

,student_id,CGPA,IELTS,LOR,research_experience,work_experience,course,chances,university
0,0,6.34,2,0,1,1,1,36,QMU
1,1,1.38,4,3,0,1,1,5,QMU
2,2,1.73,4,0,1,1,1,6,QMU
3,3,9.98,5,0,1,1,1,45,QMU
4,4,9.50,2,4,1,1,1,34,QMU

In [9]:
df7 = pd.read_csv("SU.csv")
df7.head()

,student_id,CGPA,IELTS,GRE,LOR,research_experience,work_experience,course,chances,university
0,0,8.94,3,772,4,0,0,1,23,SU
1,1,7.93,1,367,2,1,0,1,32,SU
2,2,4.25,4,655,1,1,0,1,12,SU
3,3,8.78,2,622,2,1,1,1,24,SU
4,4,9.55,5,923,0,1,1,1,49,SU

In [11]:
df8 = pd.read_csv("UIUC.csv")
df8.head()

,student_id,CGPA,IELTS,GRE,LOR,research_experience,work_experience,course,chances,university
0,0,2.83,2,681,4,0,0,1,11,UIUC
1,1,4.96,1,832,1,0,0,1,21,UIUC
2,2,1.48,6,948,0,1,0,1,2,UIUC
3,3,1.99,4,430,4,0,1,1,2,UIUC
4,4,8.44,5,655,0,1,0,1,49,UIUC

In [12]:
df9 = pd.read_csv("UOO.csv")
df9.head()

,student_id,CGPA,IELTS,GRE,LOR,research_experience,work_experience,course,chances,university
0,0,9.04,6,959,1,0,1,1,95,UOO
1,1,0.14,2,755,4,0,0,1,0,UOO
2,2,4.07,5,894,1,1,0,1,42,UOO
3,3,8.57,2,271,3,0,1,1,32,UOO
4,4,6.45,2,485,3,0,0,1,35,UOO